.text-animate {
    display: inline-block;
    opacity: 0;
    animation: bounceIn 1s 1s;
    animation-fill-mode: forwards;
    min-width: 10px;
}


//number of letters that are in the welcome message
@for $i from 1 through 41 {
    .text-animate._#{$i} {
        animation-delay: $i * 0.1s; // Use multiplication for delay
    }
}
